/* Standard layout three-col-grail, for IE8 and below. Note that rounding errors may occur in IE7 and below. */
.two-sidebars .content-inner {margin-left: 20%; margin-right: 25%;}
.sidebar-first .content-inner {margin-left: 20%; margin-right: 0;}
.sidebar-second .content-inner {margin-right: 25%; margin-left: 0;}
.region-sidebar-first {width: 20%; margin-left: -100%;}
.region-sidebar-second {width: 25%; margin-left: -25%; clear: none;}
.container {width: 100%;}