.content-style {
  min-height: 400px;
  min-width: 900px;
  padding: 20px 20px;
}

.block h2 {
  color: #9BC642;
  font-size: 1.7em;
}

.rct-6 input.form-button,
.rct-6 input.form-submit {
  background-image: none;
  background: -moz-linear-gradient(center top , #F8F8F8 0%, #D8D8D8 100%) repeat scroll 0 0 transparent;
  background-color: #F2F2F2;
  border: 1px solid #CCC;
  border-radius: 1px 1px 1px 1px;
  color: #555;
  display:inline-block;
  font-family: Verdana;
  font-size: 1.0em;
  padding:4px 6px 5px 6px;
}
.rct-6 input.form-button:hover,
.rct-6 input.form-submit:hover {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEE 100%) repeat scroll 0 0 transparent;
  background-color: #F9F9F9;
  border: 1px solid #BBDCED;
  color: #000;
}

/*
 * jQuery
 */
.ui-dialog {
  padding: 0;
}
.ui-dialog-titlebar {
  background-image: none;
  background-color: #E5E7EC;
  border-radius: 0 0 0 0;
  border-width: 0 0 1px;
  border-bottom: 1px solid #AAAAAA;
  margin-bottom: 4px;
}
.ui-dialog .ui-dialog-buttonpane button.ui-button {
  background-image: none;
  background: -moz-linear-gradient(center top , #F8F8F8 0%, #D8D8D8 100%) repeat scroll 0 0 transparent;
  background-color: #F2F2F2;
  border: 1px solid #CCC;
  border-radius: 1px 1px 1px 1px;
  color: #555;
  font-family: Verdana;
  font-size: 0.9em;
}
.ui-dialog .ui-dialog-buttonpane button.ui-button:hover {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEE 100%) repeat scroll 0 0 transparent;
  background-color: #F9F9F9;
  border: 1px solid #BBDCED;
  color: #000;
}

.ui-icon.ui-icon-alert,
.ui-icon.ui-icon-info,
.ui-icon.ui-icon-notice,
.ui-icon.ui-icon-help,
.ui-icon.ui-icon-check {
  background-image: url("../images/ui-images.png");
  width: 20px;
  height: 20px;
  margin: 1px 7px 0 0;
}
.ui-icon.ui-icon-alert { background-position: 0 0; }
.ui-icon.ui-icon-info { background-position: -20px 0; }
.ui-icon.ui-icon-notice { background-position: -40px 0; }
.ui-icon.ui-icon-help { background-position: -60px 0; }
.ui-icon.ui-icon-check { background-position: -80px 0; }
 
/* 
 * Main menu bar
 */
#header-wrapper {
  background-color: #FAFFFF;
}
div #branding {
  padding: 5px 0 0 10px;
}
#site-name {
  font-size: 2.5em;
}
#site-name a {
  color: #F0F0F0;
}
#site-slogan {
  color: #1E93D2;
  margin: 0;
}
#menu-bar ul li a.active {
  background-color: #F8F8F8;
  color: #101010;
}
#menu-bar #block-openfit-user-login-logout.block {
  float: right;
}
#content-wrapper {
  margin-bottom: 4px;
  padding-top: 10px;
}

/*
 * Select tag should match other form styles
 */
select {
  -moz-box-sizing: border-box;
  background-color: #FAFAFA;
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 6px;
}
input {
  box-sizing: border-box;
}
input.form-text,
input.form-password,
input.form-file,
textarea {
  line-height: 1.0em;
}
/*
 * Overall table styling
 */
th a {
  color: #333 !important;
}
th, thead, thead th {
  background-color: #FFF;
  color: #000;
  font-family: Arial;
}
thead th {
  border-bottom: 1px solid #DDD;
}
tr th, tr td {
  padding: 6px 4px;
}
tr.odd {
  background-color: #F8F8F8;
}
tr td:first-child {
  border-left: 1px solid #EEE;
}
tr:last-child {
  border-bottom: 1px solid #F8F8F8;
}
tr:hover td {
  background-color: #F2F4F9;
}
tr.selected td {
  background-color: #88C3EA;
  color: #FFF;
}
tr.selected td a {
  color: #FFF;
}
tr.selected:hover td {
  background-color: #74B5E8;
}

.data-table tr td a {
  padding: 3px 10px;
}

.data-table tr td a:hover {
  background-color: #C2DEE8;
  border-radius: 10px;
  color: #065F9B;
  padding: 3px 10px;
  text-decoration: none;
}
.data-table tr.selected td a:hover {
  background-color: #1B96E2;
  color: #FFF;
}

/* Activity add/edit page styling */
.page-node-add-activity .form-required,
.page-node-edit.page-type-activity .form-required {
  display: none;
}
.page-node-add-activity #action-bar {
  float: right;
  position: relative;
  top: -66px;
}

.page-node-add-activity .description,
.page-node-edit.page-type-activity .description {
  display: none;
}

.page-node-add-activity .form-item label,
.page-node-edit.page-type-activity .form-item label {
  float: left;
  font-size: 1.1em;
  margin-top: 0.4em;
  width: 140px;
}

.page-node-add-activity .form-item-activity-info-start-time label,
.page-node-edit.page-type-activity .form-item-activity-info-start-time label {
  display: none;
}

select#edit-activity-info-sport,
input#edit-activity-info-name {
  width: 290px;
}

.page-node-add-activity .container-inline-date,
.page-node-edit.page-type-activity .container-inline-date {
  display: inline-block;
  float: left;
}
.page-node-add-activity .container-inline-date .form-item.form-type-date-popup,
.page-node-edit.page-type-activity .container-inline-date .form-item.form-type-date-popup {
  border-width: 0;
  margin: 0;
}
.page-node-add-activity #edit-activity-info-start-date,
.page-node-edit.page-type-activity #edit-activity-info-start-date {
  display: inline-block;
  padding: 0;
}
.form-item-activity-info-start-time {
  display: inline-block;
  margin: 0 0 0 5px;
}


.page-node-add-activity .block input.form-text,
.page-node-edit.page-type-activity input.form-text {
  width: 140px;
}

/* Activity page stying */
.page-type-activity .article .user-picture {
  float: right;
  margin: 0;
}
.page-type-activity .article .user-picture img {
  padding: 0;
  width: 65px;
}

.page-type-activity #page article.article-unpublished {
  background-color: inherit;
}
.page-type-activity #tasks,
.page-type-activity #breadcrumb-wrapper {
  display:none;
}

.page-node-add-activity #breadcrumb-wrapper {
  display:none;
}

.page-type-activity #action-bar {
  clear: both;
  padding: 2px 0;
}

.page-type-activity #actions {
  float: right;
  margin-right: 10px;
}
.page-type-activity #action-bar #export-menu {
  min-width: 80px;
}
.page-type-activity #action-bar #sharing-menu {
  right: 12px;
}

.page-type-activity #page-navigation {
  float: left;
}

.page-type-activity #page-navigation .tabs {
  border-width: 0;
  margin: 8px 0 0 10px;
  padding: 0;
}

.page-type-activity #page-navigation .tabs li {
  padding: 0;
}
.page-type-activity #page-navigation .tabs li a {
  font-family: Arial;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding: 8px 8px;
  text-decoration: none;
}
.page-type-activity #page-navigation .tabs li.active a,
.page-type-activity #page-navigation .tabs li.active a:hover {
  font-weight: bold;
  padding-bottom: 11px;
}
.page-type-activity #page-navigation .tabs li a:hover {
  padding-bottom: 10px;
}
.page-type-activity #page-navigation .tabs li a {
  border-radius: 12px 12px 0 0;
}
.page-type-activity #action-bar {
  background-color: #EAF7C8;
  border-bottom: 1px solid #D5EA9A;
}
.page-type-activity #page-navigation .tabs li a {
  color: #444;
}
.page-type-activity #page-navigation .tabs li.active a,
.page-type-activity #page-navigation .tabs li.active a:hover {
  background-color: #FFF;
  border: 1px solid #D5EA9A;
  border-bottom-width: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.page-type-activity #page-navigation .tabs li a:hover {
  background-color: #F3FFD3;
  box-shadow: 0 0 1px #D5EA9A, 0 -1px 3px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 0 1px #D5EA9A, 0 -1px 3px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 0 0 1px #D5EA9A, 0 -1px 3px 1px rgba(0,0,0,0.05);
}
.page-type-activity .top-summary .user-photo img {
  border: 2px solid #EEE;
  float: right;
  margin-left: 10px;
  width: 60px;
}
.page-type-activity .top-summary .activity-name,
.page-type-activity .top-summary .activity-time,
.page-type-activity .top-summary .activity-distance {
  font-weight: bold;
}
.page-type-activity .summary-info {
  margin-bottom: 10px;
  font-size: 1.05em;
  letter-spacing: 0.03em;
}
.page-type-activity .page-activity-full #detail-area {
  float: left;
  font-size: 1.05em;
  margin: 10px 10px;
  width: 340px;
}
.page-type-activity .page-activity-full #detail-area .field-items {
  color: #0A83AF;
  float: left;
  margin-top: 10px;
}
.page-type-activity .page-activity-full #detail-area .field-item {
  font-weight: bold;
}
.page-type-activity .page-activity-full #detail-area .field-label {
  color: #555;
  clear: both;
  float: left;
  margin-top: 10px;
  width: 200px;
}
.page-type-activity .page-activity-full #detail-area .field-block {
  border-bottom: 1px solid #f0f0f0;
  overflow: hidden;
  padding-bottom: 5px;
}
.page-type-activity .page-activity-full #detail-area .field-block.no-data {
  display: none;
}
.page-type-activity .page-activity-full #activity-chart {
  margin-left: 360px;
  margin-top: 20px;
}
.page-type-activity .page-activity-full #activity-chart .chart-canvas-container {
  height:375px;
}
.page-type-activity .comment {
  border-bottom: 1px solid #EEE;
  margin: 0;
  padding: 4px;
}
.page-type-activity .comment p {
  margin: 2px 0 0 0;
  padding: 0;
}
.page-type-activity .comment-actions {
  float: right;
  padding: 0 6px;
  visibility: hidden;
}
.page-type-activity .comment:hover .comment-actions {
  visibility: visible;
}
.page-type-activity .comment-actions .comment-delete a {
  background-image: url(/sites/all/modules/openfit_api/images/buttons.png);
  background-position: 0px -176px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  overflow: hidden;
  width: 16px;
}
.page-type-activity .comment-actions .comment-delete a:hover {
  background-position: -16px -176px;
}
.page-type-activity .comment:hover {
  background-color: #F4F5F7;
}
.page-type-activity .comment .user-picture {
  float: left;
}
.page-type-activity .comment .user-picture img {
  width: 40px;
  margin-right: 10px;
}
.page-type-activity .comment time {
  margin-left: 10px;
}
.page-type-activity #edit-comment-body label,
.page-type-activity #edit-comment-body fieldset {
  display: none;
}

.front .article-type-activity .user-picture {
  display: none;
}
.front .activity-category,
.page-dashboard .activity-category,
.page-type-activity .activity-category,
.page-user .activity-category {
  float: left;
  margin: 10px 8px 10px 4px;
}
.front .summary-info div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-activity-teaser {
  clear: both;
  overflow: hidden;
}
.page-activity-teaser .user-photo img {
  border: 2px solid #EEE;
  float: left;
  margin-right: 4px;
  width: 60px;
}
.page-activity-teaser .top-summary .activity-name,
.page-activity-teaser .top-summary .activity-time,
.page-activity-teaser .top-summary .activity-distance {
  font-weight: bold;
}
.page-activity-teaser a.activity-item {
  border-radius: 6px;
  display: block;
  overflow: hidden;
  padding: 2px;
}
.page-activity-teaser a.activity-item:hover {
  color: #0970A3;
  background-color: #F4F5F7;
  -moz-box-shadow: inset 0 0 0 1px #EEE;
  -webkit-box-shadow: inset 0 0 0 1px #EEE;
  box-shadow: inset 0 0 0 1px #EEE;
}

/*
 *  CSS styling for front-page 
 */
 .front h1.article-title {
  display: none;
}

.front #ticker {
  border: 1px solid #f2f2f2;
  border-left: 0;
  border-right: 0;
  margin-top: 15px;
  padding: 5px 0px;
}

.front #ticker article {
  width: 22em;
}

.front .signup-btn {
  background: -moz-linear-gradient(center top , #63CE6C 0%, #5EC466 100%) repeat scroll 0 0 transparent;
  background-color: #63CE6C;
  border: 2px solid #61CE68;
  border-radius: 5px 5px 5px 5px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
}

.front .signup-btn:hover {
  background: -moz-linear-gradient(center top , #5DE275 0%, #5EC47C 100%) repeat scroll 0 0 transparent;
  background-color: #5DE275;
  border-color: #42C0FF;
}

.front .signup-btn a {
  color: #FBFFF4;
  display: block;
  padding: 8px 30px;
  text-decoration: none;
}
.front .signup-btn:hover a {
  color: #FFFFFF;
}

.front .label {
  font-size: 200%;
  font-weight: bold;
}

.front .equivalent {
  font-size: 150%;
}

.front div.center-align {
 
}

.front div.center-align div.center-align-inner {
  display: table;
  margin: 0 auto;
}

.front .center-target {
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-align: center;
}

.front .digit-list {
  list-style:none;
  white-space: nowrap;
}

.front .digit-list li {
  font-size: 2em;
}

/*
 * TODO: -webkit-gradient and -webkit-linear-gradient don't work
 */
.front .digit {
  background: -webkit-gradient(linear, top -80deg, #383838, #111 50%, #363636); /* Saf4+, Chrome */
  background: -webkit-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background: -moz-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* FF3.6 */
  background: -ms-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* IE10 */
  background: -o-linear-gradient(top -80deg, #383838, #111 50%, #363636); /* Opera 11.10+ */
  background: linear-gradient(top -80deg, #383838, #111 50%, #363636);
  background-color: #333333;
  color: #fff;
  display:block;
  float: left;
  line-height: 1em;
  margin:0 !important;
  overflow: hidden; 
  padding: 0 15px;
  text-align: center;
  
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 rgba(0, 0, 0, 1) inset, 0 3px 0 rgba(255, 255, 255, .2) inset, 0 5px 0 rgba(0, 0, 0, .75) inset, 0 6px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 -2px 0 #000 inset, 0 -3px 0 rgba(255, 255, 255, .18) inset, 0 -5px 0 #000 inset, 0 -6px 0 rgba(255, 255, 255, .08) inset, 0 0 30px rgba(0, 0, 0, .3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 rgba(0, 0, 0, 1) inset, 0 3px 0 rgba(255, 255, 255, .2) inset, 0 5px 0 rgba(0, 0, 0, .75) inset, 0 6px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 -2px 0 #000 inset, 0 -3px 0 rgba(255, 255, 255, .18) inset, 0 -5px 0 #000 inset, 0 -6px 0 rgba(255, 255, 255, .08) inset, 0 0 30px rgba(0, 0, 0, .3) inset;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .1) inset, 0 2px 0 rgba(0, 0, 0, 1) inset, 0 3px 0 rgba(255, 255, 255, .2) inset, 0 5px 0 rgba(0, 0, 0, .75) inset, 0 6px 0 rgba(255, 255, 255, .2) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 -2px 0 #000 inset, 0 -3px 0 rgba(255, 255, 255, .18) inset, 0 -5px 0 #000 inset, 0 -6px 0 rgba(255, 255, 255, .08) inset, 0 0 30px rgba(0, 0, 0, .3) inset;
}

.front .d3 {
  -webkit-border-radius: 12px 0 0 12px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
  -moz-border-radius: 12px 0 0 12px; /* FF1-3.6 */
  border-radius: 12px 0 0 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.front .d1 {
  -webkit-border-radius: 0 12px 12px 0; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
  -moz-border-radius: 0 12px 12px 0; /* FF1-3.6 */
  border-radius: 0 12px 12px 0; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.front .d1.d3 {
  -webkit-border-radius: 12px 12px 12px 12px; /* Saf3-4, iOS 1-3.2, Android ≤1.6 */
  -moz-border-radius: 12px 12px 12px 12px; /* FF1-3.6 */
  border-radius: 12px 12px 12px 12px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
}

.front .digit-list .seperator {
  background:none;
  color: #333;
  display:block;
  float: left;
  font-size: 6em;
  line-height: 1.25em;
  margin:0 !important;
  margin-top: 0.45em !important;
  overflow: hidden; 
  padding: 0 !important;
  text-align: center;
}

/* This is the selector you need to target different 'scales' of digits */
.front .digit-num-3 li {
  font-size: 15em;
}

.front .digit-num-6 li {
  font-size: 12em;
}
.front .digit-num-6 .seperator {
  font-size: 6em;
  margin-top: 0.9em !important;
}

.front .digit-num-9 li {
  font-size: 9em; 
}
.front .digit-num-9 .seperator {
  font-size: 5em;
  margin-top: 0.8em !important;
}

.front .digit-num-12 li {
  font-size: 6em;
}
.front .digit-num-12 .seperator {
  font-size: 4em;
  margin-top: 0.7em !important;
}

.front .digit-num-15 li {
  font-size: 5em;
}
.front .digit-num-15 .seperator {
  font-size: 2.5em;
  margin-top: 0.6em !important;
}

/* Footer */
.region-footer section {
  padding: 0 10px;
}
.region-footer #left-bottom-footer {
  float: left;
}
.region-footer #right-bottom-footer {
  float: right;
}
.region-footer h2.block-title {
  display: none;
}
.region-footer .footer-separator {
  padding: 0 8px;
}