ul.buttonbar {
  font-size: 1.0em;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
.block .item-list ul.buttonbar {
  margin-left: 0;
}

ul.buttonbar li {
  display: inline-block;
  list-style: none;
  margin: 4px;
  text-align: left;
}

ul.buttonbar li a {
  color: #555;
  display: inline-block;
  padding:3px 6px;
  text-decoration: none;
}
ul.buttonbar li:hover a {
  color: #000;
}
ul.buttonbar li a:focus {
  outline: none;
}

ul.buttonbar li div.btn {
  background-color: #F2F2F2;
  border: 1px solid #DDD;
  border-radius: 1px 1px 1px 1px;
}
ul.buttonbar li div.btn.flat {
  background: none;
  background-color: inherit;
  border: 1px solid #FFF;
}
ul.buttonbar li div.btn.flat {
  border-radius: 3px;
  color: #333;
  cursor: pointer;
  padding: 3px 4px 0px 4px;
}
ul.buttonbar li div.btn.flat:hover, {
  color: #000;
}
ul.buttonbar li div.btn.flat span {
  padding: 0;
}
ul.buttonbar li div.btn.flat .arrow {
  display: inline-block;
  height: 16px;
  width: 16px;
}
ul.buttonbar li:hover div.btn.flat .arrow,
ul.buttonbar li.menu-open div.btn.flat .arrow {
  background-image: url(images/buttons.png);
  background-position: -16px -144px; 
}
ul.buttonbar li div.btn.flat a {
  padding: 0;
}
ul.buttonbar li.menu-open div.btn.flat {
  border-radius: 3px 3px 0 0;
}
ul.buttonbar li.menu-open div.btn a {
  color: #000;
}


ul.buttonbar li:hover div.btn,
ul.buttonbar li.menu-open div.btn {
  background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEE 100%) repeat scroll 0 0 transparent;
  background-color: #F9F9F9;
  border: 1px solid #BBDCED;
}
ul.buttonbar li.disabled div.btn {
  background: repeat scroll 0 0 transparent;
  background-color: #F4F4F4;
  border: 1px solid #DDD;
  color: #CCC;
  padding:3px 6px;
}
ul.buttonbar li.disabled div.btn a {
  color: #CCC;
  cursor: default;
  padding:0;
}

ul.buttonbar .img {
  background-repeat: no-repeat;
  border: 0;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 3px;
}
ul.buttonbar li div.btn span {
  bottom: 2px;
  position: relative;
  padding: 0 2px;
}
ul.buttonbar li div.btn span.btnleft {
  padding-left: 5px;
}
ul.buttonbar li div.btn span.btnright {
  padding-right: 5px;
}

ul.buttonbar li#page-of {
  margin-top: 8px;
}

ul.buttonbar .menu {
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  min-width: 60px;
  position: absolute;
  z-index: 599;
}

ul.buttonbar .menu ul {
  margin: 0;
}
ul.buttonbar .menu li {
  display: block;
  margin: 0;
}
ul.buttonbar .menu li:hover {
  background-color: #EAEAFF;
}
ul.buttonbar .menu a {
  color: #000;
  display: block;
  padding: 2px 6px;
}
ul.buttonbar .menu .check-img {
  display: inline-block;
  height: 16px;
  margin-right: 4px;
  vertical-align: -2px;
  width: 16px;
}
ul.buttonbar .menu .check-img.checked {
  background-image: url(images/buttons.png);
  background-position: -48px -16px; 
}

.pager-item-from,
.pager-item-to,
.pager-item-total {
  font-weight: bold;
}

.pager-prev div.btn .img,
.pager-next div.btn .img {
  background-image: url(images/buttons.png);
}

.pager-prev div.btn .img { background-position: 0 -112px; }
.pager-prev div.btn:hover .img { background-position: -16px -112px; }
.pager-prev.disabled div.btn .img { background-position: -32px -112px; }
.pager-next div.btn .img { background-position: 0 -128px; }
.pager-next div.btn:hover .img { background-position: -16px -128px; }
.pager-next.disabled div.btn .img  { background-position: -32px -128px; }

.data-table .field-type-number {
  text-align: right;
}